Container {
  width: 100%;
}

Form {
  max-width: 80%;
  margin: 0 auto;
}

.numbered Table {
  counter-reset: row-num-1;
  max-width: 80%;
  margin: 0 auto;
}

.numbered Table tr {
  counter-increment: row-num;
}

.numbered Table tr td:first-child::before {
  content: counter(row-num) ". ";
}

.numbered tbody {
  text-align: right;
}

thead {
  text-align: center;
}

th {
  width: 15%;
}

td {
  hyphens: auto;
}

Button {
  width: 100%;
  background: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
}

.summary {
  background: #cfd9df;
  font-size: 18px;
  position: sticky;
  bottom: 0;
  border: 1px solid #6a85b6;
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
}

.number,
#delete {
  width: 5%;
  text-align: center;
}

#bin {
  cursor: pointer;
}
